<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/styles/loginstyles.css">
</head>
<body>

<div class="login-signup-container">
  <div class="login-section">
    <h2>Welcome Back!</h2>
    <p>To keep connected with us please log in with your personal info</p>
    <form th:action="@{/login}" method="post" class="login-form">
      <input type="text" id="username" name="username" placeholder="Username" required autocomplete="username">
      <input type="password" id="password" name="password" placeholder="Password" required autocomplete="current-password">
      <button type="submit" class="login-btn">SIGN IN</button>
      <!-- Error Message Display -->
      <!-- ... -->
    </form>
  </div>
  <div class="signup-section">
    <h2>Create Account</h2>
    <!-- Social icons could be added here -->
    <p>or use your email for registration:</p>
    <form th:action="@{/signup}" method="post" class="signup-form">
      <input type="text" id="name" name="name" placeholder="Name" required autocomplete="name">
      <input type="email" id="email" name="email" placeholder="Email" required autocomplete="email">
      <input type="password" id="signup-password" name="password" placeholder="Password" required autocomplete="new-password">
      <button type="submit" class="signup-btn">SIGN UP</button>
    </form>
  </div>
</div>

<!--<script src="path_to_your_javascript.js"></script>-->
</body>
</html>
