<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Book Finder</title>
</head>

<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The Book Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <!--TODO : Add navigation to other site pages-->
                <!--Leaving these here so the developers can implement them later-->
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>-->
            </ul>
            <span class="navbar-text">Your ultimate source for finding and managing books</span>
        </div>
    </nav>

    <!--Search Bar-->
    <br>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for a book..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>

    <section id="homepage">
        <hr>
        <div class="container">
            <div class="page-header text-center">
                <h2>Recent Arrivals</h2>
            </div>
        </div>
            <hr>
        <div class="container">
            <div id="recent-arrivals" class="row">

                <!-- Recent arrivals content -->
                <div class="col">
                    <figure class="figure">
                        <img th:src="@{/images/SpareBook.png}" alt="Book 1" style="max-height: 724px; max-width: 472px">
                        <figcaption class="figure-caption">
                            <h3>Spare</h3>
                            <p>Author: Prince Harry the Duke of Sussex</p>
                            <p>Published: January 2023</p>
                            <p>Description: Spare is a memoir by Prince Harry. The book is Harry's account of his life to date. </p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure>
                        <img th:src="@{/images/Hangman.png}" alt="Book 2" style="max-height: 724px; max-width: 472px">
                        <figcaption class="figure-caption">
                            <h3>Hangman</h3>
                            <p>Author: Maya Binyam</p>
                            <p>Published: August 2023</p>
                            <p>Description: Hangman is about exile, diaspora, and the impossibility of Black refuge in America and beyond.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <hr>

        <div class="container">
            <div class="page-header text-center">
                <h2>Book Recommendations</h2>
            </div>
        </div>
            <hr>
        <div class="container">
            <div id="recommendations" class="row">

                <!-- Recommendation content -->
                <div class="col">
                    <figure class="figure">
                        <img th:src="@{/images/NLP_Python.png}" alt="Book 3" style="max-height: 724px; max-width: 472px">
                        <figcaption class="figure-caption">
                            <h3>Natural Language Processing with Python</h3>
                            <p>Authors: Steven Bird, Ewan Klein, Edward Loper</p>
                            <p>Published: June 2009</p>
                            <p>Description: This book offers a highly accessible introduction to natural language processing
                                from predictive text and email filtering to automatic summarization and translation.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <img th:src="@{/images/BeginnerJavaBook.png}" alt="Book 4" style="max-height: 724px; max-width: 472px">
                        <figcaption class="figure-caption">
                            <h3>Java: A Beginner's Guide</h3>
                            <p>Author: Herbert Schildt</p>
                            <p>Published: November 2018</p>
                            <p>Description: It covers all the fundamentals of Java, followed by tests and puzzles to test your knowledge.</p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
