<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book Finder</title>
</head>

<body>

    <header>
        <div id="title">
            <h1>The Book Finder</h1>
            <p>Your ultimate source for finding and managing books.</p>
        </div>
        <div id="search-bar">
            <input type="text" id="book-search" placeholder="Search for a book...">
            <button id="search-button">Search</button>
        </div>
    </header>

<p th:text="${person}"/>

<form action="#" th:action="@{/saveSpecimen}" th:object="${person}"
      method="GET"><br/>
    <label>Latitude</label><input type="text" name="latitude"
                                  th:field="*{Latitude}"/><br/>
    <label>Longitude</label><input type="text" name="longitude"
                                   th:field="*{Longitude}"/><br/>
    <label>Description</label><input type="text" name="description"
                                     th:field="*{Description}"/><br/>
    <label>Plant</label><input type="text" name="plantId"
                               th:field="*{PlantID}"/><br/>
    <label>Specimen</label><input type="text" name="specimenId"
                                  th:field="*{SpecimenID}"/><br/>
    <button name="submit" type="submit" value="0">Submit</button>

</form>

</body>

</html>