<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book Finder</title>
</head>

<body>

    <header>
        <div id="title">
            <h1>The Book Finder</h1>
            <p>Your ultimate source for finding and managing books.</p>
        </div>
        <div id="search-bar">
            <input type="text" id="book-search" placeholder="Search for a book..." style="width: 300px;">
            <button id="search-button">Search</button>
        </div>
    </header>

    <section id="homepage">
        <div id="recent-arrivals">
            <h2>Recent Arrivals</h2>
            <!-- Recent arrivals content -->
            <div class="book">
                <img src="src/main/resources/templates/images/SpareBook.png" alt="Book 1">
                <h3>Spare</h3>
                <p>Author: Prince Harry the Duke of Sussex</p>
                <p>Published: January 2023</p>
                <p>Description: Spare is a memoir by Prince Harry. The book is Harry's account of his life to date. </p>
            </div>
            <div class="book">
                <img src="src/main/resources/templates/images/Hangman.png" alt="Book 2">
                <h3>Hangman</h3>
                <p>Author: Maya Binyam</p>
                <p>Published: August 2023</p>
                <p>Description: Hangman is about exile, diaspora, and the impossibility of Black refuge in America and beyond.</p>
            </div>
        </div>
        <div id="recommendations">
            <h2>Book Recommendations</h2>
            <!-- Recommendation content -->
            <div class="book">
                <img src="src/main/resources/templates/images/NLP_Python.png" alt="Book 3">
                <h3>Natural Language Processing with Python</h3>
                <p>Authors: Steven Bird, Ewan Klein, Edward Loper</p>
                <p>Published: June 2009</p>
                <p>Description: This book offers a highly accessible introduction to natural language processing from predictive text and email filtering to automatic summarization and translation.</p>
            </div>
            <div class="book">
                <img src="src/main/resources/templates/images/BeginnerJavaBook.png" alt="Book 4">
                <h3>Java: A Beginner's Guide</h3>
                <p>Author: Herbert Schildt</p>
                <p>Published: November 2018</p>
                <p>Description: It covers all the fundamentals of Java, followed by tests and puzzles to test your knowledge.</p>
            </div>
        </div>
    </section>

</body>

</html>
